<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="../styles/restaurantStyles.css">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="../scripts/index.js"></script>
        <title>Desperato Cupiditas - Menu</title>
    </head>
    <body class="home-body">
    <!-- this can be replicated -->
        <header>
            <nav class="nav">
                <button type="button" class="btn btn-outline-dark">
                    <a class="nav-link" href="home.html">Home</a>
                </button>
                <button type="button" class="btn btn-outline-dark">
                    <a class="nav-link" href="menu.html">Menu</a>
                </button>
                <button type="button" class="btn btn-outline-dark">
                    <a class="nav-link" href="contact.html">Contact</a>
                </button>
            </nav>
            <div class="company-name-container">
                <h1 class="company-name">Desperato Cupiditas</h1>
            </div>
        </header>
        <main>
            <section class="container text-center pt-3">
                <div class="row menu">
                    <article class="col-lg-4 col-md-6 flip-card">
                        <div class="flip-card-inner card">
                            <div class="flip-card-front card-body">
                                <h5 class="card-title">Burger and Fries</h5>
                                <div class="card-text">An American Classic!</div>
                                <div class="card-text">with our without cheese</div>
                                <div class="card-text">Pickle, onion, tomato, and lettuce</div>
                                <div class="card-text">Served with our famous thick-cut fries</div>
                                <div class="card-subtitle muted">$7.95</div>
                            </div>
                            <div class="flip-card-back card-body"
                                style="background-image: url(../public/menu/burger-and-fries.jpg);">
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-4 col-md-6 flip-card">
                        <div class="flip-card-inner card">
                            <div class="flip-card-front card-body">
                                <h5 class="card-title">Hot Dog and Chips</h5>
                                <div class="card-text">A Summer Classic!</div>
                                <div class="card-text">with white or wheat bun</div>
                                <div class="card-text">Relish, mustard, and ketchup</div>
                                <div class="card-text">Served with our house-made chips</div>
                                <div class="card-subtitle muted">$7.95</div>
                            </div>
                            <div class="flip-card-back card-body"
                                style="background-image: url(../public/menu/hot-dog-and-chips.jpg);">
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-4 col-md-6 flip-card">
                        <div class="flip-card-inner card">
                            <div class="flip-card-front card-body">
                                <h5 class="card-title">Italian Sausage and Peppers</h5>
                                <div class="card-text">An All-time Classic!</div>
                                <div class="card-text">with mild or spicy Cole Slaw</div>
                                <div class="card-text">Served with garlic mashers</div>
                                <div class="card-subtitle muted">$10.95</div>
                            </div>
                            <div class="flip-card-back card-body"
                                style="background-image: url(../public/menu/italian-sausage-and-peppers.jpg);">
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-4 col-md-6 flip-card">
                        <div class="flip-card-inner card">
                            <div class="flip-card-front card-body">
                                <h5 class="card-title">Tenderloin Sandwich and Chips</h5>
                                <div class="card-text">Really Hits the Spot!</div>
                                <div class="card-text">with Plain or Sesame Seed Bun</div>
                                <div class="card-text">Pickle, onion, tomato, and lettuce</div>
                                <div class="card-text">Served with our house-made chips</div>
                                <div class="card-subtitle muted">$8.95</div>
                            </div>
                            <div class="flip-card-back card-body"
                                style="background-image: url(../public/menu/tenderloin-sandwich-and-chips.jpg); background-position: center;">
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-4 col-md-6 flip-card">
                        <div class="flip-card-inner card">
                            <div class="flip-card-front card-body">
                                <h5 class="card-title">House Salad</h5>
                                <div class="card-text">On the lighter side</div>
                                <div class="card-text">with or without cheese</div>
                                <div class="card-text">Iceberg lettuce, tomatoes, peppers</div>
                                <div class="card-text">Thousand Island or Ranch Dressing</div>
                                <div class="card-text">Served with a dinner roll</div>
                                <div class="card-subtitle muted">$6.95</div>
                            </div>
                            <div class="flip-card-back card-body"
                                style="background-image: url(../public/menu/house-salad.jpg); background-position: center;">
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-4 col-md-6 flip-card">
                        <div class="flip-card-inner card">
                            <div class="flip-card-front card-body">
                                <h5 class="card-title">Brisket Sandwich and Fries</h5>
                                <div class="card-text">A Taste of Texas</div>
                                <div class="card-text">Smoked Brisket on Texas Toast</div>
                                <div class="card-text">Cole Slaw</div>
                                <div class="card-text"></div>
                                <div class="card-text">Served with our famous french fries</div>
                                <div class="card-subtitle muted">$7.95</div>
                            </div>
                            <div class="flip-card-back card-body"
                                style="background-image: url(../public/menu/brisket-sandwich-and-fries.jpg); background-position: center;">
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </main>
        <!-- this can be replicated -->
        <footer>
            <div>321 Dream Street, Astoria, NY 11101</div>
            <div>1-(987)-654-321</div>
        </footer>
    </body>
</html>